target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

.idea
*.iws
*.iml
*.ipr
*.properties
docs

.vscode/
.env
src/main/resources/
src/test/resources/
data:dcbapp.mv.db
data:dcbapp.trace.db
mvnw
mvnw.cmd
docs/logic_insert.txt